.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex-direction: column;
}

.full-width-table {
  flex-grow: 1;
}

.half-width-table {
  margin-top: 50%;
  flex-grow: 0.5;
}
